<!DOCTYPE html>
<html lang="en">
<head>
    <title>NoFiller</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "login_styles.css") }}">
</head>

<body>
    <div class = "container">
        <h2>NoFiller</h2>
        <form action = "{{ url_for('login')}}" method="POST">
            <label for="username">Username: &nbsp</label>
            <input type="text" name="username" placeholder="Enter username" id="username">
            <br>
            <br>
            <label for="password">Password: &nbsp &nbsp</label>
            <input type="password" name="password" placeholder="Enter password" id="password">
            <br>
            <br>  
            <button type="submit">Login</button>      
        </form>

        <form action="{{ url_for('create_account') }}" method="GET">
            <p>Don't have an account?</p>
            <button type="submit">Create Account</button>
        </form>
    </div>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</body>

</html>