<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "styles.css") }}">
</head>

<body>
    <header>
        <h2>Welcome, {{username}}!</h2>
        <form action="{{ url_for('logout') }}" method="POST" style="margin: 0;">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </header>

    <div class="button-container" style="align-items: center;">
        <h1 id = "headertext" style="align-items: center;">Welcome!</h1>
        <button class="action-btn", id="srecord" style="align-items: center;">Start Recording</button>
        <button class = "action-btn", id = "doneButton" style="align-items: center;">Stop Recording</button>
        <form id = "audioInput" action = "{{url_for('results', username=username)}}" method = "POST">
            <input type="text" id="most" name="most" hidden />
            <input type="text" id="percent" name="percent" hidden />
            <input type="file" id="afile" name="afile" hidden/>
            <button id = "sub" type = "submit" hidden>Submit</button>
        </form>
        <form action="{{ url_for('stats', username=username) }}" method="GET" style="margin: 0;">
            <button type="submit" class="action-btn" style="align-items: center;">My Stats</button>
        </form>
    </div>

    <script>
        let mediarec;
        let audio = [];
        const recording = document.getElementById("srecord");
        const doneButton = document.getElementById("doneButton");
        const afile = document.getElementById("afile");
        const aform = document.getElementById("audioInput");

        recording.addEventListener("click", async () => {
            document.getElementById("headertext").textContent = "Recording";
            const stream = await navigator.mediaDevices.getUserMedia({audio: true});
            mediarec = new MediaRecorder(stream);
            mediarec.ondataavailable = e => audio.push(e.data);
            mediarec.start();
            mediarec.onstop = e => {
                const adata = new Blob(audio, {type: "audio/wav"});
                const returnfile = new File([adata], "afile", {type: "audio/wav"});
                const dt = new DataTransfer();
                dt.items.add(returnfile);
                afile.files = dt.files;
                const formd = new FormData();
                formd.append('afile', adata);
                fetch('/listen/{{username}}', {
                    method: 'POST',
                    body: formd
                })
                .then(response => response.json())
                .then(data => {
                    const most = data.most;
                    const percent = data.percent;
                    document.getElementById("most").setAttribute('value', most);
                    document.getElementById("percent").setAttribute('value', percent);
                    aform.submit();
                })
            }
        });

        doneButton.addEventListener("click", () => {
            mediarec.stop();
            document.getElementById("headertext").textContent = "Please Wait";
        });
    </script>
</body>
</html>